/* main.css */

* { /* Very basic browser default style reset. */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Flex container (does not need to be body! Just used in this example.) */
.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Flex Items. */
.flex-item {
    display: block;
    width: 100%;
    height: 460px;
}

.item-1 {
    background: #5d8aa8;
}

.item-2 {
    background: #ffbf00;
}

.item-3 {
    background: #e32636;
}

.item-4 {
    background: #a4c639;
}

.item-5 {
    background: #cd9575;
}

.item-6 {
    background: #87a96b;
}

/* Tablet. */
@media screen and ( min-width: 768px ) {

    .item-2,
    .item-3,
    .item-5,
    .item-6 {
        width: 50%;
    }

}